.slide-bar-ul {
  margin: auto;
  width: 1000px;
  height: 300px;
  display: flex;
}

.slide-bar {
  text-align: center;
  padding: 50px;
}

.slide-bar-li {
  cursor: pointer;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  margin: 5px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.slide-bar-li img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  outline: 0;
}

.slide-bar-li:nth-child(even) {
  background-color: blue;
  flex: 1;
  text-align: center;
}

.slide-bar-li:nth-child(odd) {
  background-color: rgb(121, 121, 184);
  flex: 1;
  text-align: center;
}

.slide-bar-li:hover {
  flex: 6;
}
