.bio {
    background: linear-gradient(to right, #00000069, #0000004f), url(../images/ragnar.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px 100px;
    height: 70vh;
}

.flim-div {
    opacity: 0.2;
    height: 1px;
    width: 80%;
    background-color: aqua;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.div-titile {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 20px;
}

.div-titile li {
    margin: 0 10px;
}