.item a img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 5px;
    border: 1px solid orange;
    padding: 5px;
}

.viking {
    padding: 10px 200px;
    color: azure;
    background-color: black;
    margin: 0 0 50px 0;
}

.viking h3 {
    color: white;
}

.viking .imges img {
    border-radius: 10%;
    padding: 5px;
}

.viking .ffont i {
    width: 30px;
    height: 35px;
    margin-right: -30px;
}

.viking .lviking {
    border-right: 1px solid red;
}