.li-footer {
  color: aliceblue;
  list-style-type: none;
  line-height:40px;
  font-size:15px;
}
footer {
  color: aliceblue;
  padding:20px;
}
.parent {
  display: flex;
  gap: 32px;
}

.join-text {
  color: rgb(236, 157, 37);
}
.text-join {
  color: rgb(236, 157, 37);
}
.telegram-instagram {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.telegram,
.instagram {
  padding: 10px;
  background-color: #000000;
}
i {
  padding: 1rem;
  border-left: 1px solid #ffffff65;
}
